*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#0f0f0f;
    color:white;
    font-family:Arial, sans-serif;
}

.hero{
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:20px;
}

.hero h1{
    font-size:3rem;
    margin-bottom:15px;
}

.hero p{
    margin-bottom:25px;
}

button{
    padding:15px 30px;
    border:none;
    border-radius:30px;
    cursor:pointer;
    font-size:1rem;
}
