*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#000;
    color:white;
    font-family:Arial,sans-serif;
    overflow:hidden;
}

.screen{
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:20px;
}

.hidden{
    display:none;
}

h1{
    margin-bottom:20px;
    font-size:3rem;
}

p{
    margin-bottom:20px;
}

button{
    padding:15px 30px;
    border:none;
    border-radius:30px;
    font-size:1rem;
    cursor:pointer;
}

.lights-on{
    background:linear-gradient(
        135deg,
        #ffcc00,
        #ff66cc,
        #66ccff
    );
    transition:1.5s;
}
